In [ ]:
# advance preprocessing is not applied in this NB
# advance modelling is not applied in this node book
# evaluation on train test split is not done in this note book

In [30]:
#importing pandas, numpy for preprocssing
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

In [31]:
#reading the test data
#changes to the train data are done alongside in a seperate NB(notebook)
df = pd.read_csv("train.csv")

# preprocessing

In [101]:
# first take care of missing values, most model don't work with NaN
# convert string variable to integer 
# use dummy variable for columns having multiple categories

In [32]:
df.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P29,P30,P31,P32,P33,P34,P35,P36,P37,revenue
0,0,07/17/1999,İstanbul,Big Cities,IL,4,5.0,4.0,4.0,2,...,3.0,5,3,4,5,5,4,3,4,5653753.0
1,1,02/14/2008,Ankara,Big Cities,FC,4,5.0,4.0,4.0,1,...,3.0,0,0,0,0,0,0,0,0,6923131.0
2,2,03/09/2013,Diyarbakır,Other,IL,2,4.0,2.0,5.0,2,...,3.0,0,0,0,0,0,0,0,0,2055379.0
3,3,02/02/2012,Tokat,Other,IL,6,4.5,6.0,6.0,4,...,7.5,25,12,10,6,18,12,12,6,2675511.0
4,4,05/09/2009,Gaziantep,Other,IL,3,4.0,3.0,4.0,2,...,3.0,5,1,3,2,3,4,3,3,4316715.0

In [33]:
df.shape

(137, 43)

In [34]:
df.isnull().sum()

Id            0
Open Date     0
City          0
City Group    0
Type          0
P1            0
P2            0
P3            0
P4            0
P5            0
P6            0
P7            0
P8            0
P9            0
P10           0
P11           0
P12           0
P13           0
P14           0
P15           0
P16           0
P17           0
P18           0
P19           0
P20           0
P21           0
P22           0
P23           0
P24           0
P25           0
P26           0
P27           0
P28           0
P29           0
P30           0
P31           0
P32           0
P33           0
P34           0
P35           0
P36           0
P37           0
revenue       0
dtype: int64

In [35]:
df["Type"].value_counts()

FC    76
IL    60
DT     1
Name: Type, dtype: int64

In [36]:
#converting string var to int
city_type = {"Big Cities":1, "Other" :0}
df["City Group"] = df["City Group"].map(city_type)

In [37]:
# change the date column to date time, this will help in extracting year/month/day/date which can be used as features
df["Open Date"] = pd.to_datetime(df["Open Date"], format='%m/%d/%Y')

In [38]:
df["Open Date"].dtype

dtype('<M8[ns]')

In [39]:
# feature emgineering: as in this particulat dataset, year of opening can have significant effect on dependent variable
df["year"] = pd.DatetimeIndex(df["Open Date"]).year

In [40]:
df.year.value_counts()

2011    25
2012    18
2009    16
2010    15
2008    14
2013    12
2006     7
2007     7
1999     4
2005     4
1998     4
2004     3
2014     2
2000     2
2002     2
1997     1
1996     1
Name: year, dtype: int64

In [45]:
# extracting test set which has been applied the same formatting as the train set
df_test = pd.read_csv("processed_test.csv")

In [46]:
df.shape, df_test.shape

((137, 44), (100000, 44))

In [47]:
df.columns, df_test.columns

(Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
        'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
        'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
        'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
        'P36', 'P37', 'revenue', 'year'],
       dtype='object'),
 Index(['Id', 'Open Date', 'City', 'City Group', 'Type', 'P1', 'P2', 'P3', 'P4',
        'P5', 'P6', 'P7', 'P8', 'P9', 'P10', 'P11', 'P12', 'P13', 'P14', 'P15',
        'P16', 'P17', 'P18', 'P19', 'P20', 'P21', 'P22', 'P23', 'P24', 'P25',
        'P26', 'P27', 'P28', 'P29', 'P30', 'P31', 'P32', 'P33', 'P34', 'P35',
        'P36', 'P37', 'year', 'revenue'],
       dtype='object'))

In [51]:
# for some preprocessing both the datasets need to be handeled altogether
# like dummy variables created int test and train will not be same because of different categories in the Type column
# hence concatanating them
# this cam also be done in scaling for having the same scale
df2 = df.append([df_test])

In [62]:
df2.shape, df3.shape

((100137, 44), (100137, 109))

In [58]:
# function for dummy variable treatment
def dummy_handle(dfX, col):
    temp = pd.DataFrame()
    for c in col:
        dummy_df = pd.get_dummies(dfX[c],drop_first=True)
        temp = pd.concat([temp,dummy_df],axis = 1)
    dfX = pd.concat([dfX,temp], axis = 1)
    return dfX

In [61]:
categ_col = ["City", "Type"]
# categ_col = ["City"]
df3 = dummy_handle(df2, categ_col)

In [79]:
# dropping columns whose dummy variable is already being made
# dropping columns which will provide no information to the model
df3.drop(categ_col,axis = 1, inplace=True)

In [85]:
df3.drop(["Id", "Open Date"],axis = 1, inplace = True)

In [86]:
df3.columns

Index(['City Group', 'P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8', 'P9',
       ...
       'Zonguldak', 'Çanakkale', 'Çankırı', 'Çorum', 'İstanbul', 'İzmir',
       'Şanlıurfa', 'FC', 'IL', 'MB'],
      dtype='object', length=105)

# Modelling

In [87]:
#splitting the training and the test set for modelling
df_train = df3.iloc[0:137]
df_pred = df3.iloc[137:]

In [88]:
#splitting the sependent and independent variables in the taining data for modelling
import xgboost as xgb
X = df_train.drop(["revenue"],axis = 1)
y = df_train["revenue"]

In [89]:
# fitting the regressor on the training data
xgbReg = xgb.XGBRFRegressor()

In [90]:
xgbReg.fit(X,y)

XGBRFRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
               colsample_bytree=1, gamma=0, gpu_id=-1, importance_type='gain',
               interaction_constraints='', max_delta_step=0, max_depth=6,
               min_child_weight=1, missing=nan, monotone_constraints='()',
               n_estimators=100, n_jobs=8, num_parallel_tree=100,
               objective='reg:squarederror', random_state=0, reg_alpha=0,
               scale_pos_weight=1, tree_method='exact', validate_parameters=1,
               verbosity=None)

In [92]:
# predicting the results for test independent variable
y_pred = xgbReg.predict(df_pred.drop(["revenue"],axis = 1))

In [93]:
y_pred.shape

(100000,)

In [94]:
# saving the result in whatever format needed
sub = pd.read_csv("sampleSubmission.csv")

In [97]:
sub.Prediction = y_pred

In [98]:
sub.shape,sub.head()

((100000, 2),
    Id  Prediction
 0   0   3842737.0
 1   1   3448579.0
 2   2   3691910.5
 3   3   3739250.5
 4   4   4374149.5)

In [100]:
# this result can be summited for initial understang of accuracy on the test data(which is hidden from us in most cases)
sub.to_csv("sampleSubmission1.csv", index = False)