In [ ]:
# similar preprocessing as the training dataset

In [1]:
import pandas as pd
import numpy as np

In [3]:
df_test = pd.read_csv("test.csv")

In [5]:
df_test.head()

,Id,Open Date,City,City Group,Type,P1,P2,P3,P4,P5,...,P28,P29,P30,P31,P32,P33,P34,P35,P36,P37
0,0,01/22/2011,Niğde,Other,FC,1,4.0,4.0,4.0,1,...,2.0,3.0,0,0,0,0,0,0,0,0
1,1,03/18/2011,Konya,Other,IL,3,4.0,4.0,4.0,2,...,1.0,3.0,0,0,0,0,0,0,0,0
2,2,10/30/2013,Ankara,Big Cities,FC,3,4.0,4.0,4.0,2,...,2.0,3.0,0,0,0,0,0,0,0,0
3,3,05/06/2013,Kocaeli,Other,IL,2,4.0,4.0,4.0,2,...,2.0,3.0,0,4,0,0,0,0,0,0
4,4,07/31/2013,Afyonkarahisar,Other,FC,2,4.0,4.0,4.0,1,...,5.0,3.0,0,0,0,0,0,0,0,0

In [6]:
df_test.shape

(100000, 42)

In [10]:
df_test["City Group"].value_counts()

0    50728
1    49272
Name: City Group, dtype: int64

In [9]:
city_type = {"Big Cities":1, "Other" :0}
df_test["City Group"] = df_test["City Group"].map(city_type)

In [11]:
df_test["Type"].value_counts()

FC    57019
IL    40447
DT     2244
MB      290
Name: Type, dtype: int64

In [14]:
df_test["Open Date"] = pd.to_datetime(df_test["Open Date"], format='%m/%d/%Y')

In [15]:
df_test["year"] = pd.DatetimeIndex(df_test["Open Date"]).year

In [16]:
df_test["revenue"] = 0

In [19]:
df_test.to_csv("processed_test.csv", index = False )